.task-label {
  background-color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.task-label:hover {
  background-color: #2ccadd;
  color: white;
}